.card {
    --main-color: #fff;
    --bg-color: #090909d6;
    --sub-main-color: #B9B9B9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 360px;
    height: 500px;
    background: var(--bg-color);
    border-radius: 20px;
    padding: 30px;
    position: relative;
  }
  
  .card__menu {
    cursor: pointer;
  }
  
  .card__img {
    height: 224px;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    background: #131313;
    border-radius: 100%;
  }
  
  .card__img img {
    width: 154px;
    height: 154px;
    border-radius: 100%;
  }
  
  .card__title {
    font-weight: 500;
    font-size: 28px;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 10px;
    height: 75px;
  }
  
  .card__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: var(--sub-main-color);
    text-align: center;
    cursor: pointer;
  }
  
  .card__subtitle a{
    color: #00D26A;
    text-decoration: none;
  }

  .card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
  }
  
  .card__time {
    font-weight: 400;
    font-size: 12px;
    color: var(--main-color);
  }
  
  .card__timeline {
    width: 100%;
    height: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .card__timeline progress {
    width: 100%;
    height: 100%;
    border-radius: 100px;
  }
  
  .card__timeline progress::-webkit-progress-bar {
    background-color: #424242;
    border-radius: 100px;
  }
  
  .card__timeline progress::-webkit-progress-value {
    background-color: #fff;
    border-radius: 100px;
  }
  
  .card__btn {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card__btn path {
    fill: var(--main-color);
  }
  
  .card__btn-play {
    width: 60px;
    height: 60px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card__btn-play path {
    fill: var(--bg-color);
  }


  .tapadonCourtois{
    background-color: #F1F3F4;
    width: 38px;
    height: 35px;
    position: absolute;
    bottom: 119px;
    margin-left: 34px;
    z-index: 2;
    border-radius: 5px;
   }
  
  
  
  .loading {
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
  }
  
  .load {
    width: 2px;
    height: 33px;
    background-color: limegreen;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
    
  }
  
  .load:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .load:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .load:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  
  @keyframes move6 {
    0% {
      height: 0.2em;
    }
  
    25% {
      height: 0.7em;
    }
  
    50% {
      height: 1.5em;
    }
  
    100% {
      height: 0.2em;
    }
  }
  